.table-title {
	margin: 0.02rem;
}

.volver {
	display: flex;
	justify-content: flex-start;
	margin: none;
	height: 1.5rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.volver:hover{
	background-color: lightgray;
}

.table {
	width: 100%;
	

}
.table thead{
	display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
	margin-top: 1rem;
}
.table th {
	width: 7rem;	
}
.table td {
	    /* padding-top: 10px;
		padding-bottom: 5px; */
		width: 7.5rem;
}
/* .dt-th2{
	margin-left: 27%;
}
.dt-th3{
	margin-left: 24%;
} */
.dt-tbody{
	height: 20vh;
	/* display:block; */
	display:flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-y: scroll;
}
/* .dt-tbody td{
	padding-left: 3px;
} */
.dt-tr{
	/* margin-left: 1rem; */
	display: flex;
    justify-content: space-around;
	align-items: center;
	background-color: white;
	margin-top: 0.5rem;
	padding-left: 1rem;
}

.eye-solid-icon{
	background: #24262b;
    color: white;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	padding: 5px;
}
.eye-solid-icon:hover{
    background: #686868;
}
.dt-bu2{
	margin-left: 85%;
	width: 8rem;
	margin-bottom: 1rem;
}
.dt-p{
	text-align:end;
    margin-right: 5%;
	font-size: 0.9rem;
	margin-block: 0;
}

.need-review {
	color: red;
	font-size: 0.6rem;
}