.dashboard-container {
	min-height: inherit;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* justify-content: center;
	align-items: center; */
	text-align: center;
	/* background: rgba(245, 245, 245, 1); */
}

.dashboard-container div:first-child {
	flex-basis: 30%;
}

.dashboard-container div:nth-child(2) {
	flex-basis: 70%;
}

.beer {
	font-size: 25px;
}

.iconSB {
	width: 50px;
}

.cardsAdmin {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 5% 0;
}

.cardsAO {
	border-radius: 18px;
	background: #ffffff;
	box-shadow: 8px 8px 16px #a3a3a3, -8px -8px 16px #ffffff;
	width: 25%;
	margin: 2%;
	height: 200px;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 50% 50%;
	transition: .2s all;
}

.cardsAO svg {
	font-size: 100px;
	margin: auto 20px;
	height: 200%;
	grid-row-start: 1;
	grid-row-end: 2;
}

.cardsAO h3 {
	text-align: center;
	font-size: 30px;
	margin: 0 10px;
	grid-column-start: 2;
}

.cardsAO h2 {
	text-align: center;
	font-size: 30px;
	align-self: flex-end;
	margin: 10px
}

.cardsAO:hover {
	transform: scale(1);
	opacity: 1;
	box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
	transform: scale(1.1);
}

.cardsAO:focus, .cardsAO:hover {
	outline: 0;
	color: #fff;
	background-color: #047E28;
	transition: color 1s ease;
	transition: background-color 1s ease;
	cursor: pointer;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-ms-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s
}

.dashboard-container div:first-child {
	flex-basis: 25%;
}

.dashboard-container div:nth-child(2) {
	flex-basis: 60%;
	width: 100%;
	height: 100%;
}

.dashboard-section {
	height: 20vh;
	border: solid 1px grey;
}

.dashboard-main {
	margin-top: 1%;
	flex-basis: 60%;
	border: solid 1px gray;
	background: white;
}

@media screen and (max-width: 700px) {
	.dashboard-main{
		margin-right: 1rem;
	}
	
}