.dataUser-container{
    margin-top: 1vh;
    padding: 1vh;
    display: flex;
    /* justify-content: space-evenly; */
    border: solid 1px grey;
    background: white;
}
.dataUser-section{
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
}
.du-link{
	text-decoration: none;
	color: #022E1A;
}
.du-image{
    margin: 3% 16% 3% 3%;
    border-radius: 40px;
}