.rev-title {
    margin-block: 0;
}

.rev-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    /* background-color: rgb(93, 156, 177); */
    justify-content: flex-start;

}

.rev-img {
    width:4rem;
}

/* .rev-product {
    background-color: lightgreen;
    width: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
} */

.rev-content {
    background-color: #c4c1c12d;
    border: 5px solid transparent;
    border-bottom: 6px solid #C88E34;
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    /* margin-block: 1rem; */
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 10px 10px;
    
    /* display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center; */
}

.rev-content h4{
    color:black
}

.rev-volver {
    padding-top: 0.5rem;
}

.star {
    color: #ffc107;
}