/* Home
      #C88E34 linea search
      #CB9D57 panel
      #008037 button comprar
      #3F4A45 iconos login carrito
      #022E1A footer  */

      .Home-filter{
            display: flex;
            justify-content: flex-end;
            padding-right: 5rem;
            font-size: 1rem;
            color: grey;
            height: 2rem;
            margin-bottom: 1rem;
      }
      .home-main{
            display: flex;
            
      }

      .items-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 0 6rem;
            min-height: 50rem;
      }
      .home-button{
            margin-left: 1rem;
            background: none;
            color: grey;
            font-weight: 400;
            border: none;
            outline: none;
            font-size: 1rem;
            cursor: pointer;

      }
      .home-button:hover {
            background: rgba(119, 103, 80, 0.1);
            border-radius: 50px;
            border-bottom: 2px solid #C88E34;
            box-sizing: border-box;
      }
      .select-sidebar, option {
      margin-right: -3rem;
      color:white;
      width: 11rem;
      height: 2rem;
      border: none;
      border-radius: 5px;
       font-size: 1rem;
      background: #CB9D57;
      margin-bottom: 3rem;
      cursor: pointer;
}
.select-home{
      color: grey;
      font-size: 1rem;
      border: none;
      background-color: white;
      cursor: pointer;
}
.select-sidebar option:hover{
    color: white;
    background: black;
}
.home-range{
      background: #CB9D57;
      color:white;
      padding: 3px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem;
      font-size: 1rem;
      align-items: flex-end;
      box-shadow: 0 0 1px 0 gray;

}
.home-range h5{
font-size: 1rem;
}