.userSetting-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.userSetting-form{
    width: 40%;
    height: auto;
    background-color:#dcdcdc9e;
    padding: 2rem;
    border-radius: 5px;
}

.section_create input{
  width: 15rem;
  height: 2rem;
  font-size: 1.1rem;
  padding-left: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
}

.section_create a{
  margin: 1rem;
}
.us-section-img{
  background: white;
  margin-bottom: 1rem;
  padding: 0  1rem;
  border-radius: 5px;
}
.usersetting-img{
    width: 60px;
    height: 60px;
    border-radius: 80px;
    object-fit: scale-down;
    margin: 0 2rem;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Seleccionar una imagen';
    display: inline-block;
    background: #24262b;
    color: white;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1rem;
  }
  .custom-file-input:hover::before {
    background: #686868;

  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .us-button{
    background: #24262b;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .us-button:hover{
      background: #686868;
  }