.userSetting-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 2rem;
}
.userSetting-container p{
  margin-block: 0;
  padding-block: 0.5rem;
}
.userSetting-container h3{
  margin-block: 0;
}

.userSetting-form{
  font-size: 1rem;
  width: 50%;
  height: auto;
  background-color: #dcdcdc9e;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.section_create input{
  /* width: 60%; */
  width: 16rem;
  height: 1.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  margin: 0.2rem;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.section_create-us-section-img {
  display: flex;
  background-color: white;
  /* margin-block: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}

.section_create {
  display: flex;
  flex-direction: column;
}

.section_create a{
  margin: 2rem;
}
/* .us-section-img{
  background: white;
  margin-block: 1rem;
  padding: 0  1rem;
.us-section-img{
  display: flex;
  align-items: center; 
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background: white;
  margin-bottom: 1rem;
  padding: 0;
  border-radius: 5px;
} */
.usersetting-img{
    width: 100px;
    height: 100px;
    border-radius: 80px;
    object-fit: scale-down;
    margin: 0rem;
    /* margin: 0 2rem; */
}
.us-section-img label{
  background-color:#dcdcdc9e;
  height:  2rem;
  width: 100%;
  margin-left: 0;
}
.custom-file-input::-webkit-file-upload-button {
    /* visibility: hidden; */
    /* content: 'Seleccionar una imagen'; */
    background: #dcdcdc9e;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 2rem;
    font-size: 1rem;
    margin-block: 0.5rem;
  }
  .custom-file-input{
    margin-left: 0 !important;
    padding-left: 0 !important;
    width: 12rem !important;
    color: white;
  }
  .custom-file-input::before {
    /* content: 'Seleccionar una imagen'; */
    /* display: inline-block; */
    background: #24262b;
    color: white;
    border-radius: 3px;
    padding: 0.5rem;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
  }
  .custom-file-input:hover::-webkit-file-upload-button {
    background: #686868;

  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }

  .us-button{
    background: #dcdcdc9e;
    color: black;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 2px 3px;
    margin-bottom: 3px;
    font-size: 1rem;
    margin-block: 0.5rem;
    height: 1.5rem;
  }
  .us-button:hover{
      background: #686868;
  }
  @media screen and (max-width:700px) {
  .userSetting-container{
    font-size: 12px;
  }
  .us-section-img{
    margin: 2px 0;

  }
  .userSetting-form{
    padding: 0.5rem;
  }
  /* .section_create{
padding: 2px;
  } */
  .section_create input{
    font-size: 12px;  
    width: 85%;
    padding: 0 2px;
    height: 1.5rem;
  }
  .custom-file-input{
    word-break: break-all;
    word-wrap: word-break;
    margin: 0 !important;
    width: 8rem !important;

  }

  .custom-file-input::before{
    word-break: break-all;
    word-wrap: word-break;
    display: inline-block;
    margin: 0;
  }
  
  .custom-file-input::before {
    font-size: 10px;
  }
  .us-button{
    font-size: 10px;
  }
  }