.root_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.no_product_container {
  margin-top: 10px;
}

.back-home-btn {
  margin-left: 65px;
  padding: 7px;
  text-decoration: none;
  background: #171717;
  color: #f4f4f4;
}

.back-home-btn:hover {
  opacity: 0.9;
  background-color: #686868;
  transition: 0.25s;
  cursor: pointer;
}

.product_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 18rem;
  width: 12rem;
  margin: 5px 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
} 

.product_container:hover {
  box-shadow: 0 0 5px 0 gray;
}

.delete_btn_container {
  margin-top: 10px;
  margin-left: 110px;
}

.delete_btn {
  background-color: white;
  color: rgb(170, 0, 0);
  width: 30%;
  border: 0px;
}

.delete_btn:hover {
  transform: scale(1.1);
  transition: 0.55s;
  cursor: pointer;
}

.image_link {
  text-decoration: none;
  font-family: sans-serif;
  color:grey;
  border-radius: 4px;
  text-align: center;
  max-height: 40px;
  cursor: pointer;
}

.product_image {
  width: 100%;
  height: 12rem;
  object-fit: scale-down;
}

.product_name {
  padding: 0;
  margin: 0;
  min-height: inherit;
}

.product_price {
  margin-left: 40%;
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .root_container {
    flex-direction: column;
    flex-flow: column wrap;
  }

  .product_container {
    height: 10rem;
    width: 7rem;
  }

  .product_name {
    width: 90%;
  }

  .product_price {
    margin-top: 5px;
    margin-right: 20px;
    font-size: 16px;
  }

  .product_image {
    width: 90%;
    height: 8rem;
  }
}
