.general_container {
  display: flex;
  font-size: 15px;
  text-align: center;
}

.detail-img {
  height: 100%;
  width: 80%;
  flex-basis: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.slide-image{
  height: 50%;
  width: 90%;
}

.container_carousel_atr{
  height: 70%;
  width: 80%;
  margin: 0 auto;
}

.carousel_atr{
  height: 40%;
}

.slide-image img {
  width: inherit;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}

.detail_description {
  text-align: center;
  height: 100%;
  width: auto;
  margin: 0 auto;
  flex-basis: 60%;
}
.detail-render{
  height: 100%;
  font-size: 1.5rem;
}

.detail_description h2 {
  color: #bd842f;
  height: 80%;
}

.detail-price {
  font-size: 30px;
  color: #2e436f;
  height: 10%;
}

.detail_stock input {
  margin-right: 10px;
  outline: none;
  border-radius: 4px;
  padding: 4px;
  height: 10%;
}

.detail_stock button {
  margin-right: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #8a8888;
  font-weight: bold;
  color: white;
  padding: 5px;
  height: 28px;
}


.detail_info_description h3 {
  padding-top: 10px;
  font-size: 25px;
  text-align: left;
}

.detail-render h3{
  font-size: 29px;
  font-weight: 600;
}

.detail_info_description{
  height: 25%;
}
.detail_info_description p {
  font-size: 25px;
  text-align: left;
}

.detail_stars {
  font-size: 26px;
  height: 10%;
}

.detail_button{
    padding: 10px;
}

.detail_button button {
  background: #047e28;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: white;
  transition: 0.2s ease-out;
  width: 200px;
  height: 28px;
}

.detail_button button:hover {
    box-shadow: 0 0 10px 0 #ffffff;
  }
.detail_button button:active {
    outline: 0;
    transform: translateY(3px);
  }
 
.carousel{
    height: 60%;
  }

.carousel .carousel-slider{
  width: 80%;
}

.carousel .slide{
  margin: auto!important;
}

.carousel .slide img{
    max-height: 100%;
    width: auto;
    object-fit: scale-down;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1px !important;
  color: rgb(255, 255, 255) !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid rgb(255, 255, 255) !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(138, 141, 137, 0.973) !important;
}

.carousel button {
  box-shadow: 2px 2px 2px 1px rgba(196, 196, 196, 0.863) !important;
  background: rgb(112, 112, 112) !important;
  font-family: sans-serif;
  color: rgb(52, 24, 211) !important;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: rgb(8, 5, 211) !important;
  font-size: 26px;
  bottom: 0;
  /* margin-top: 300px !important;
  padding: 5px; */
  display: table-cell !important;
  vertical-align: middle !important;
}

.carousel .thumbs-wrapper {
margin: 0!important;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  z-index: 1;
  background-color: rgba(160, 160, 160, 0.425) !important;
}

.carousel .control-dots .dot {
    transition: opacity .25s ease-in;
    opacity: .3;
    filter: alpha(opacity=30);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
    background: rgb(99, 99, 99)!important;
    border-radius: 50%;
    width: 10px!important;
    height: 10px!important;
    cursor: pointer;
    display: inline-block;
}

.carousel-root{
  max-height: 100%;
}
