.big-container-detail {
  padding-top: 30px;
}

.productscreen {
  display: flex;
  background-color: white;
  text-align: center;
  width: 100vw;
  justify-content: center;
}

.productscreen__left {
  display: flex;
}

.left__image {
  align-items: flex-end;
}

.productscreen__right {
  min-width: 70vh;
  max-width: 80vh;
}

.detail__info {
  margin: 1rem;
  background: rgb(102, 20, 20);
}

.detail__name {
  font-weight: bold;
  font-size: 2rem;
}

.name_fav_detail p {
  margin-block-start: 0;
}

.detail_info{
  width: 100%;
}
.detail__info > p,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);
}

.detail__info > p:last-child,
.right__info > p:last-child {
  border: none;
}

.right__info {
  max-width: 75vh;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

.right__info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  padding: 5px 15px;
  background: #171717;
  color: #f4f4f4;
  cursor: pointer;
}

.right__info p > button:hover {
  opacity: 0.9;
  background-color: #686868;
  cursor: pointer;
}
.right__info p > button:active {
  outline: 0;
  transform: translateY(3px);
}

.detail-heart {
  text-align: right;
  margin-top: 20px;
}

.detail-description {
  margin-top: 30px;
}

.right__info {
  margin-top: 40px;
}

.right__info select {
  padding: 10px 16px;
}

.detail-rating input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.detail_fav {
  color: #ee362e;
  cursor: pointer;
}

.detail_fav :hover {
  cursor: pointer;
}

.detail_fav :active {
  cursor: pointer;
}

/* Slider */
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 500px;
  border-radius: 10px;
  max-width: 450px;
}

.imageSlide {
  width: 400px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 2rem;
  color: rgb(94, 91, 91);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 2rem;
  color: rgb(94, 91, 91);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.sipd-center{
  display: flex;
  justify-content: center;
}

.sipd-center table{
  text-align: center;
}

.sipd-center tr{
    display: table-row;
    vertical-align: inherit;
    border-color: rgb(0, 0, 0);
}

.sipd-center td{
  /* border: 1px solid #000; */
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #a52a2a;
    color: white;
}

.stock-disponible{
    display: flex;
    color: rgb(6, 139, 35);
    display: flex;
    position: absolute;
}

.stock-disponible p{
  margin-block-start: 0!important;
  margin-block-end: 0!important;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 10px;
}

.stock-noDisponible{
  display: flex;
  color: rgb(211, 18, 18);
  display: flex;
  position: absolute;
}

.stock-noDisponible p{
  margin-block-start: 0!important;
  margin-block-end: 0!important;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 10px;
}

/* responsive */
@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail_info {
    flex: 1;
    width: 90%;
    margin: 0 auto;
  }

  .name_fav_detail p{
    font-size: 2rem;
  }

  .productscreen__right {
    flex: 1;
    margin: 0 auto;
  }

  .right__info {
    width: 95%;
    margin: 0 auto;
  }

  .imageSlide{
    width: 300px;
    height: 500px;
  }

  .detail-heart {
  text-align: center;
   margin: 10px;
}

.right-arrow{
  right: 190px;
}

.left-arrow{
  left: 190px;

}
}


/* @media (max-width: 870px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail_info {
    flex: 1;
    width: 80%;
    margin: 0 auto;
  }

  .name_fav_detail p{
    font-size: 2rem;
  }

  .productscreen__right {
    flex: 1;
    max-width: 100vh;
  }

  .right__info {
    width: 90%;
    margin: 0 auto;
  }

  .imageSlide{
    width: 300px;
    height: 500px;
  }

  .detail-heart {
  text-align: center;
   margin: 10px;
}

.right-arrow{
  right: 110px;
}

.left-arrow{
  left: 110px;

}
} */

@media screen and (max-width: 820px) {
  .productscreen {
    flex-direction: column;
    justify-content: center;
  }

  .productscreen{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    width: 90%;
  }

  .right__info {
    width: 85%;
  }

  .detail-reviews{
    width: 100%;
  }

  .container-reviews{
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .productscreen {
    flex-direction: column;
    justify-content: center;
  }

  .productscreen{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    width: 80%;
  }

  .right__info {
    width: 80%;
  }

  .detail-reviews{
    width: 100%;
  }

  .container-reviews{
    width: 100%;
  }

  .imageSlide{
    width: 250px;
    height: 400px;
  }
}

@media screen and (max-width: 473px) {
  .productscreen {
    flex-direction: column;
    justify-content: center;
  }

  .productscreen{
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .right__info {
    width: 80%;
    margin: 0 auto;
  }

  .detail-reviews{
    width: 100%;
  }

  .container-reviews{
    width: 100%;
  }

  .imageSlide{
    width: 200px;
    height: 320px;
  }

  .review-button{
    padding: 0;
  }

  .review-button button{
    padding: 10px 17px;
    width: 30%;
    background: #171717;
    color: #f4f4f4;
    cursor: pointer;
  }
}