.productscreen {
  display: flex;
  background-color:white;
  text-align: center;
  max-width: 100vh;
  margin: auto;
}

.productscreen__left {
  display: flex;
  flex-basis: 20%;
}

.left__image {
  flex: 0.6;
  
}

.productscreen__right {
  margin: auto;
}

.detail__info {
  margin: 1rem;
  background: rgb(102, 20, 20);
}

.detail__name {
  font-weight: bold;
  font-size: 2rem;
}

.detail__info > p,
.right__info > p {
  padding: 1rem;
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);
}

.detail_stars {
  font-size: 26px;
  height: 10%;
}

.detail__info > p:last-child,
.right__info > p:last-child {
  border: none;
}

.right__info {
  width: 400px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  padding: 1rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
  grid-column: 1/-1;
  width: 100%;
  padding: 10px 16px;
  background: #047e28;
  cursor: pointer;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease-out;
  outline: none;
  font-weight: bold;
}

.right__info p > button:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}
.right__info p > button:active {
  outline: 0;
  transform: translateY(3px);
}


.right__info select {
  padding: 10px 16px;
}

.detail-rating input[type='radio']{
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
}

.text-area {
  width: 550px;
  border-radius: 5px;
  margin: 15px 15px;
  border: solid 1.5px;
}

.review{
  background-color:white;
  display:grid;
  border-radius:5px;
  margin-bottom:5px;
  margin-top:5px;
}

.rating {
  font-size: 16px;
  font-weight: bold;
}
.rating input {
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 5px;
    height: 20px;
    width: 70px;
  }

.container-reviews{
    width:100%;
    max-height:150px;
    overflow: scroll;
    border:1px solid black;
    margin:auto;
    border-radius:8px;
    background-color: #757575;
    margin-top:15px;
    margin-bottom:15px;
  }
.container-reviews h1{
      color:white;
    }
.container-reviews h4{
      padding:0;
      margin:5px;
      text-align:left;
    }
.container-reviews h5{
      font-size:0.7rem;
    }

.reviews-list{
  list-style:none;
  padding:0;
  margin:auto;
}

.review{
  background-color:white;
  color:black;
  margin:auto;
  width:80%;
  display:grid;
  grid-template-columns:1fr;
  border:1px solid black;
  border-radius:5px;
  margin-bottom:5px;
  margin-top:5px;
}

.container-reviews::-webkit-scrollbar{
  display:none;
}

@media (max-width: 960px) {
  .productscreen {
    flex-direction: column;
  }

  .productscreen__left {
    flex-direction: column;
    flex: 1;
  }

  .left__image {
    flex: 1;
  }

  .detail__info {
    flex: 1;
  }

  .productscreen__right {
    flex: 1;
    padding: 1rem;
  }

  .right__info {
    width: 100%;
    margin: 0;
  }
}

.MuiSvgIcon-root {
font-size: 2rem!important;
width: 3em!important;
}
.detail_fav{
	color: #ee362e;
  cursor: pointer;
}

.detail_fav :hover {
  cursor: pointer;
}

.detail_fav :active {
  cursor: pointer;
}


/* Slider */
.slider {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.imageSlide{
  width: 300px;
  height: 450px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 50px;
  font-size: 2rem;
  color: rgb(94, 91, 91);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 2rem;
  color: rgb(94, 91, 91);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
  
  
