

:root{
    --color-button:rgb(43,149,89);
}

.form-container {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 5vw;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
}


.input_search{
    border: none;
    border-bottom: 2px solid rgb(203,157,87);
    font-size: 16px;
    height: 30px;
    padding: 0 20px;
    width: 19vw;
    outline: none;
    margin-left: 10px;
    margin-top: 10px;
    background: url('https://live.staticflickr.com/65535/51357603650_45cf92eb85_m.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2em;
    background-position-x: 95%;
}
.fa-search{
    background: url('https://live.staticflickr.com/65535/51357603650_45cf92eb85_m.jpg');

}


.input_search:hover{
    background: #e8eddf;
    background: url('https://live.staticflickr.com/65535/51357603650_45cf92eb85_m.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    background-position-x: 93%;

}

button{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: rgb(43,149,89);
    font-family: sans-serif;
    color: #fff;
    font-size: 1.1rem;
    border:none;
    border-radius: 4px;
    margin: 4px;
    height: 2rem;
    background: url('https://live.staticflickr.com/65535/51357603650_45cf92eb85_m.jpg');

}

button:hover{
    background:rgb(43,149,89, 0.6);
    border-radius: 4px;

}

.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(247, 247, 247);
    border: solid black 2px;
    border-radius: 5px;
    width: 20vw;
    min-width: 20vw;
    margin: 10px;
}

.link{
    display: inline-table;
    text-decoration: none;
    background: var(--color-button);
    font-family: sans-serif;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 4px;
    width: 70%;
    margin: 5px;
    height: 2rem;
    padding-top: 5px;
    text-align: center;
}

.link:hover{
    background:rgb(43,149,89, 0.6);
    border-radius: 4px;
    font-size: 1.12rem;
}

.item_image{
    width: 100%;
}

img:hover{
    object-fit: cover;
    transform: scale(1,1.01);
    border: solid 1px #f5cb5c;
    border-radius: 4px;
}

.disabled{
    background: #e8eddf;
    pointer-events: none;
}

input::-webkit-calendar-picker-indicator {
    filter:invert(1)
    opacity(0.01)
  }
