
.form-container {
    margin-top: 3px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 20px;
    flex-wrap: nowrap;
    align-content: flex-end;
}


.input_search{
    border: none;
    border-bottom: 2px solid #C88E34;
    font-size: 16px;
    height: 20px;
    padding: 0 20px;
    width: 13vw;
    outline: none;
    margin-left: 10px;
    margin-top: 8px;
}


.sb-option{
    background-color: black;
    /* filter: invert(100%); */
}

/* .input_search:hover{
    font-size: 18px;
} */
.disabled{
    background: #e8eddf;
    pointer-events: none;
}

.input_search::-webkit-calendar-picker-indicator {
    filter:invert(1)
    opacity(0.01)
  }
.sb-result-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    border: grey solid 1px;
    width: 25rem;
    height: 2rem;
    border-radius: 30px;
    padding: 0 1rem;
}