:root{
    --color-button:rgb(43,149,89);
}
.sp-product_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: solid grey 1px; */
    border-radius: 5px;
    /* min-height: 15rem;
    max-height: 15rem; */
    height: 18rem;
    width: 12rem;
    margin: 5px 10px;
    position: relative;
}
.sp-product_container:hover{
    box-shadow: 0 0 5px 0 gray;
}


.sp-link{
    text-decoration: none;
    font-family: sans-serif;
    color:grey;
    border-radius: 4px;
    text-align: center;
    max-height: 40px;
    cursor: pointer;
}
.sp-name{
    cursor:no-drop;
    opacity: 0.3;
}
.link:hover{
    background:rgba(119, 103, 80, 0.1);
    border-radius: 4px;
}
.link-name{
    padding: 0;
    margin: 0;
    min-height: inherit;
}
.item_image{
    width: 100%;
    height: 12rem;
    /* margin-left: 10%; */
    object-fit: scale-down;
}
.sp-data{
    width: 100%;
    border-top: solid gray 1px;
}
.item_price {
  margin-left: 40%;
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 20px;
}
.sp-h6{
    margin: 0;
    text-align: center;
}

.sp-link:hover{
    opacity: 1;
}
.sp-button{
    bottom: 0;
    opacity: 0;
    background: rgb(43,149,89);
    color: white;
    border-radius: 3px;
    border: none;
    width: 8rem;
    height: 27px;
    cursor: pointer;
    /* position: absolute; */
    top:-40px;
}
.sp-button:hover{
    background: white;
    font-size: 20px;
    color: #C88E34;
    opacity: 1;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid #C88E34;
    box-shadow: 0 0 5px 0 gray;
}
/* .item_image:hover{
    object-fit: cover;
    border: solid 1px #f5cb5c;
} */
