.category-bullet{
    list-style-type: none;
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 5px;
}

.category-list{
    text-align: left;
    width:100%;
    border-radius: 10px;
}

.category-list-title{
    text-decoration: underline;
    list-style-type: none;
    font-size: 1.25rem;
    text-align:left;
    letter-spacing: normal;
    font-weight: bold;
}

.input-create-category{
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    height: 30px;
    padding: 0 20px;
    width: 15vw;
    outline: none;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2em;
    background-position-x: 95%;
}

.category-create-container {
    display: flex;
    flex-direction: row-reverse;
    width: 40vw;
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 25%), 10px 5px 5px 0px rgb(0 0 0 / 10%);
    margin: 20px;
    justify-content: flex-end;
}

.category-form-container {
    align-self: flex-start;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.category-submit {
    cursor: pointer;
    width: 95%;
    margin: 10px;
}

.delete-btn{
    cursor: pointer;
    width:15%;
    height:30%;
    font-size: 0.7em;
    margin-left:90%;
    margin-top:-10%;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    align-items: center; 
    color: red;
}

