.category-bullet{
    list-style-type: none;
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 5px;
}

.category-list{
    text-align: left;
    width:100%;
    border-radius: 10px;
}

.category-list-title{
    text-decoration: underline;
    list-style-type: none;
    font-size: 1.25rem;
    text-align:left;
    letter-spacing: normal;
    font-weight: bold;
}

.input-create-category{
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    height: 30px;
    padding: 0 20px;
    width: 30vw;
    outline: none;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2em;
    background-position-x: 95%;
}

.category-create-container {
    display: flex;
    flex-direction: row-reverse;
    width: 60vw;
    box-shadow: 0 0 5px 0px rgb(0 0 0 / 25%), 10px 5px 5px 0px rgb(0 0 0 / 10%);
    margin: 20px;
    background: url('https://www.makemytrip.com/travel-guide/media/dg_image/pattaya/Khao-Chee-Chan.jpg') rgba(255,255,255,0.6);
    background-repeat: no-repeat;
    background-size: cover;
}

.category-form-container {
    align-self: flex-end;
    margin: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.category-submit {
    cursor: pointer;
    width: 80%;

}