.sidebar-container{
    width: 16rem;
    height: 60vh;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* border: 1px grey solid; */
    background: white;
    align-items: center;
}
.sidebar-title{
/* margin-top: 4rem; */
}
.sidebar-title h3 {
    margin-left: 1rem;
}
.sidebar-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10%;
    justify-content: space-evenly;

}
.sidebar-navlink{
    text-decoration: none;
    display: flex;
}
.sidebar-navlink span{
    padding-left: 1rem;
}
.sidebar-actived{
    color: red;
}