.sidebar-container{
    /* margin-top: -4rem; */
    background: white;
    width: 16rem;
    height: 32rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.sidebar-title{
    display: flex;
    font-size: 0.9rem;
    color: #CB9D57;
    padding-bottom: 1rem;
}
.sidebar-img{
    width: 40px;
    margin: 2.5em 1rem;
    
}
/* .list-sidebar{
    
} */
.list_sidebar-li {
    list-style: none;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    align-items: flex-start;
    padding-right: 8rem;
}
.select-sidebar{
    border: none;
    background: white;
}

.filter-result{
    background: white;
    color: #CB9D57 ;
    height: 1.2rem;
    width: 7rem;
    border-radius: 10px;
    padding: 3px;
    margin-left: 6rem;
    font-size: 1rem;
}
.sidebar-buton{
    display: none;
    background:  #CB9D57;
    color: white;
    height: 1.5rem;
    width: 7rem;
    border-radius: 10px;
    padding: 3px;
    margin-left: 6rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;

}

.sb-h4{
    color: white;
    margin-top: 18%;
    margin-left: 5%;
    font-weight: 600;
}