/* Button: rgb(43,149,89);
Button: #2B9559;

footer:rgb(2,46,26);
footer:#2B9559;

h1, search: #CB9D57;
h1, search: rgb(203,157,87);

logo_search:#42A16B;
logo_search: rgb(203,157,87);

font-size_narvar: #828282;
font-size_narvar:rgb(130,130,130); */


/* .container{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 100%;
    max-height: 100%;
} */

.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}
.pagination  ul{
      list-style: none;
      padding: 0px;
      display: flex;
      height: 2.2rem;
      align-items: center;
}
  
.pagination ul  li{
        background-color: #24262b;
        padding: 10px 10px;
        margin-right: 8px;
        border-radius: 100px;
        font-family: sans-serif;
        color: #fff;
        font-size: 1.1rem;
        min-width: 20px;
        text-align: center;
        user-select: none;
}
.pagination ul li:first-child{
        padding: 0;
        background: none;
        color: black;
}
  
.pagination ul  li:last-child{
          margin-right: 0px;
          padding: 0;
          background: none;
          color: black;
        }
  
.pagination ul  li:not(.active-p):not(.disabled){
          cursor: pointer;
        }
.pagination ul  li:not(.active-p):not(.disabled):hover{
        background: #686868;
        }
.pagination ul  li:not(.active-p):not(.disabled):active{
          background: #cfdbd5;
        }
  
.pagination ul  li.active-p{
          
          background-color: #a52a2a;
          font-weight: 700;
        font-size: 1.1rem;

        }
.pagination ul  li.disabled{
          background: rgb(43,149,89,0);
          pointer-events: none;
          filter: invert(100%);
        }
      
    
  