
.navbar {
    height: 8rem;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    box-sizing: border-box;
    /* margin-top: 15px; */
    padding-right: 2rem;
    /* border-bottom: solid gray 0.5px; */
    /* box-shadow: 0 0 3px 0 gray; */
    position: fixed;
    transition: 0.6s;
    background-color:#dcdcdc9e;
    z-index: 100000;
}

.sticky {
    height: 5rem;
    padding-top: 0;
}

.sticky img{
    transform: scale(0.9);
    transition: 0.6s;
}

.sticky .nav-title {
    transform: scale(0.8);
    transition: 0.6s;
    margin-block: none;
}

.sticky .nav-ul {
    transform: scale(0.8);
    transition: 0.6s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.navbar nav {
    height: 100%;
}

.nb-img{
    margin-left: 2rem;
    cursor: pointer;
}

.nav-title {
    color: #C88E34;
    margin-block: 0.5rem;
    font-size: 2.2rem;
}

.list-item {
    height: 100%;
    width: 25%;
    cursor: pointer;
    list-style: none;
}

.active {
    width: 100%;
}

.Nav-button {
    background: none;
    color: grey;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 100%;
    cursor: pointer;
}

.Nav-button:hover{
    /* background: rgba(119, 103, 80, 0.1);
    border-radius: 50px;
    border-bottom: 2px solid #C88E34;
    width: 10rem;
    box-sizing: border-box; */
    color: #66D040;

}

/* .Nav-button:active{
background: #C88E34; 
box-sizing: border-box;
width: 10rem;
} */

.Nav-vertodos {
    opacity: 0;
    width: 10rem;
    display: none;
}

.actived-vertodos {
    background: none;
    color: grey;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.actived-vertodos:hover {
    /* background: rgba(119, 103, 80, 0.1);
    border-radius: 50px;
    border-bottom: 2px solid #C88E34;
    box-sizing: border-box; */
    color: #66D040;

}
.actived{
    background: none;
    color: grey;
    /* font-weight: 600; */
    border: none;
    outline: none;
    /* border-bottom: #C88E34 solid 3px ; */
    border-bottom: #C88E34 solid 1px ;
    border-top: #C88E34 solid 1px ;
    font-size: 1.2rem;
    width: 100%;
    /* font-size: 1.2rem; */
    /* margin-left: 2rem; */
}

.Nav-button.active {
    height: auto;
    font-size: 1.4rem;
    background:#C88E34;
}

.nav-personicon{
    border: none;
    cursor: pointer;
    width: 20%;
    color: black;
    background-color: transparent;
}

.nav-personicon svg {
    width: 100% !important;
}

.nav-personicon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.fav-icon-nav{
    color: #000000;
}

.fav-icon-nav:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-ul {
    width: 100%;
    /* padding-inline-start: 0; */
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-inline-start: 0; */
    padding-left: 0;
    /* margin-top: 2.1rem; */
}

.nav-container {
    width: 40%;
    display: flex;
    flex-direction: raw;
    align-items: center;
}

.nav-container select {
      /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.nav-container option {
    height: fit-content;
    padding: 0px 0px 0px;
    background-color: transparent;
    margin: 0px 0px 0px 0px;
    /* margin-bottom: 0;
    margin-top: 0; */
}


.nav-icon {
    width: auto;
    padding: 0 20px;
}

.nav-icon button {
    width: 100%;
}
.nav-icon svg {
    width: 100% !important;
    transition: none;
}

.nav-icons-container {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.nav-selec{
    background: none;
    color: grey;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 1.2rem;
    /* margin-left: 2rem; */
    width: 10rem;
    cursor: pointer;
} 

.nav-ul p {
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    margin: 0px 0px;
    color: #C88E34 
}

.imgStyle{
    border-radius: 80%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cart_subtotal_container {
  position: absolute;
  top: 60px;
  right: 38px;
  padding: 5px;
  border-radius: 50%;
}

.cart_subtotal {
  color: black;
}








